#content-homepage{
    height: 100vh;
}

#nav-homepage{
    display:flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;

    img{
        height: 100%;
    }

    ul{
        display:flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        
        
        li{
            height: 100%;
            width: 100%;

            display:flex;
            align-items: center;
            padding: 0 2em;
            border: 2px solid green;
            cursor: pointer;
            
            &:hover{
                background-color: red;
            }
        }

        
    }
}